
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
<%= form_for(@blog) do |f| %>
  <div class="row">
<%= f.text_area :content, class: "hogehoge", size: "60x5" %>
</br>
<%= f.file_field :image %><br>
<%= f.submit %>
<% end %>
</div>
<% @blogs.each do |blog| %>
<%= profile_img(blog.user) %>
<%= blog.user.name %>
<p><%= blog.content %></p>
<P><%= image_tag(blog.image) %></p>
<% end %>
</div>
</div>
